[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hy = "*"
"html2text" = "*"
google-cloud-texttospeech = "*"
pydub = "*"
pyinstapaper = "*"

[dev-packages]

[requires]
python_version = "3.6"
